###############
# CLion files #
###############

cmake-build-debug
.idea

###################
# Temporary files #
###################

main.cpp
HuntsmanTests.cpp

################
# Local builds #
################

bin
