###############
# CLion files #
###############

cmake-build-debug
.idea

###################
# Temporary files #
###################

CmakeVariables.hpp

################
# Local builds #
################

bin
